body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.root-notifications {
  width: 100%;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1003c;
  padding: 1rem;
  background-color: white;
}

.App-header img {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

.App-header h1 {
  color: #e1003c;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.App-body {
  padding: 2rem 1rem;
  min-height: 300px;
  text-align: left;
}

.App-body p {
  font-size: 1.2rem;
  margin: 0;
}

.App-footer {
  border-top: 3px solid #e1003c;
  padding: 1rem;
  text-align: center;
  font-style: italic;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}